[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts


[submodule "lib/chainlink-minimal-contracts"]
	path = lib/chainlink
	url = https://github.com/Rezacrown/chainlink-minimal-contracts
